body{

   font-family: 'Open Sans Condensed', sans-serif;
   text-align: center;
   background-color: #12100E;
   border-left: solid;
   border-right: solid;
   border-right-color: white;
   border-left-color: white;
   border-bottom: solid;
   border-bottom-color: white;
   border-top: solid;
   border-top-color: white;
   border-width: thin;

}


/*h1{

   color: #1C7C54;
   font-family: 'Open Sans Condensed', sans-serif;
   font size: 100px;

}*/

h3{

	color : black;
}

a{

  color: #1C7C54;

}

a:hover {

	text-decoration: none;
	color: white;
}

#banner{

    color:#1C7C54;
    background-color: white;
    font-size: 20px;
    margin: 100px;
    border-radius: 5px;
    padding : 40px;
    box-shadow: 1px 1px rgb(230,230,230);
}


#footer {

	color: #1C7C54;
	background-color: white;
	margin: 100px;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
}

#project{

	color: white;
	text-decoration: underline;
	font-size: 25px;

}

#sobre{

  color:#1C7C54;
  font-size: 25px;
  margin: 90px;
  border-radius: 5px;

}

#estabelecimento{

	color:white;
	text-decoration: underline;
	font-size: 25px;
}

#empresa {

	color:#1C7C54;
    font-size: 25px;
    margin: 90px;
    border-radius: 5px;

}

#cons {

	color:white;
	text-decoration: underline;
	font-size: 25px;
}

#consumidor {

	color:#1C7C54;
	font-size: 25px;
	margin: 90px;
	border-radius: 5px;
}
